html {
    overflow-y: scroll;
}

.intro-block {
    background: url("../images/intro-background.png") repeat;
    padding: 80px 15px 60px;
    color:white;
}

.tpad {
    padding-top: 20px;

}

.text-muted{
    color:lightgrey;
    font-weight: 100;
}

.content {
    background-color:#e9e6df;
}

hr{
    margin-left: 20px;
    width: 80%;
    border-top: 1px solid grey;
}

.box {
    border: 0px solid grey;
    height: 150px;
    width: 100px;
}
.box a{
    text-align: center;
}
.box img {
    margin: 0 auto;
    height: 75px;
}
.boxbehuizing {
    margin: 0 auto;
    width: 216px;
    height: 150px ;
}

.opmaaknaam{
    width: auto;
    margin: 0 auto;
    font-weight: 300;
    color: white;
    text-align: center;
    background-color: blue;
}

.spacefix {
    width: 100%;
    margin-top: 5px;
}
.topfix {
    margin-top: 5px;
}
.info {
    margin-top: 50px;
    padding: 60px 0;
}

.contentdesign {
    margin-left: 20px;
}
.search {
    width: 900px;
    height: auto;
    margin:0 auto;
    margin-top: 50px;
    background-color:lightblue;
}
.main {
    width:900px;
    height: auto;
    margin: auto;
    margin-top: 50px;

}
.main a{
    float: right;
    margin-top:-75px;
    margin-right: 10px;
}
.item_image {
    width:100px;
    float: left;
    margin-right: 50px;
}
.item_info{
    border-bottom: 1px solid black;
    background-color: grey;
    line-height:0.5em;
}
.content {
    visibility: visible;
}
body {
    background-color: #4e91ff;
}
.panel-heading {
    font-size: large;
}