<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Processors</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/boxcraft.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../bower_components/modernizr/modernizr.js"></script>
        <script src="../bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
    <script src="../app/lib/angular.min.js"></script>
    <script src="../app/controllers/partsController.js"></script>

</head>
<body>
    <!--start van de navigatie-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="../index.html" class="navbar-brand">Boxcraft Builder</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Social Media <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.facebook.com">Facebook</a></li>
                        <li><a href="http://www.twitter.com">Twitter</a></li>
                        <li><a href="http://www.plus.google.com">Google+</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--end navigatie-->

    <div class="search">
        <h1>Moederboorden</h1>
        <label>search: </label>
        <input ng-model="query" placeholder="Zoek voor moederboord" autofocus>
        <label class="formgroup">Manufacturer:
            <select ng-model="MoederboordFacturer">
                <option value="name">Intel</option>
                <option value="reknown">AMD</option>
            </select>
        </label>
    </div>

    <div class="main" ng-controller="MyMoederboordController">
        <ul class="resultlist">
            <li class="item cf" ng-repeat="item in moederboord | limitTo: 10 |filter: query | orderBy: MoederboordFacturer:descending">
                <img class="img-responsive item_image" ng-src="{{item.img_link}}" alt="{{item.name}}"/>
                <div class="item_info">
                    <p id="itemname">{{item.manufacturer}} {{item.name}}</p>
                    <p>Price: €{{item.price}}</p>
                    <p>Aantal USB poorten: {{item.usb_slots}}</p>
                    <p>Max werkgeheugen: {{item.mem_max}}</p>
                    <p>Socket: {{item.socket}}</p>
                    <p>Manufacturer: {{item.manufacturer}}</p>
                <a href="../index.html" ng-click="addToLocalStorage(item.name)">toevoegen</a>
                </div>
            </li>
        </ul>
    </div>

    <!--Libraries-->
    <script src="../bower_components/angular/angular.min.js"></script>

    <!--Custom scripts-->
    <script src="../app/app.js"></script>
</body>
</html>